* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-style: normal;
  line-height: normal;
  font-family: "Manjari", sans-serif;
}

.bg-vid {
  z-index: -1;
}

.home h1 {
  z-index: -1;
}

.top .components hr {
  background-image: linear-gradient(
    to right,
    #a816e2,
    #930092,
    #6b0052,
    #3b0b25,
    #000000
  );
}

.upcoming-content hr {
  background-image: linear-gradient(
    to right,
    #04abca,
    #4478a0,
    #494966,
    #30252f,
    #000000
  );
}

.characters hr {
  background-image: linear-gradient(
    to right,
    #a816e2,
    #6839bf,
    #3a3b92,
    #26335f,
    #23252b
  );
}

.link .title h2 {
  font-family: "Source Sans 3", sans-serif;
}

.link .info .year {
  font-family: "Source Sans 3", sans-serif;
}

.link .info .score {
  font-family: "Source Sans 3", sans-serif;
}

footer {
  background-image: linear-gradient(
    to top,
    #311d53,
    #311439,
    #280e23,
    #1b0812,
    #000000
  );
}

.anime-card {
  font-family: "Source Sans 3", sans-serif;
}
